<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class = "sub-course-edit-all">
    <%= form.label :courseNumber, "Course Number (should be the # in \"CSE #\")" %>
    <%= form.number_field :courseNumber %>
    </div>
  </div>
  <div class="field">
    <div class = "sub-course-edit-all">
    <%= form.label :courseName, "Course Name" %>
    <%= form.text_field :courseName %>
    </div>
  </div>

  <div class="field">
    <div class = "sub-course-edit-all">
    <%= form.label :inClassGraders, "Needs Graders?" %>
    <%= form.check_box :inClassGraders %>
    </div>
  </div>

  <div class="actions">
    <div class = "sub-course-edit-all">
    <%= form.submit %>
    </div>
  </div>
<% end %>
