<!-- The part of the edit page where we can add a new time to the schedule -->
Add a new time to your available grading schedule here.
<%= form_with url: '/grader/schedule_edit', method: :put do |form| %>
	
	<div class="field">
	<div class = "sub-section-edit-all">
	<%= form.label :weekday, "Day" %>
	<%= form.select :weekday, ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"], include_blank: true %>
	
	<%= form.label :start_hour, "Start Hour" %>
	<%= form.text_field :start_hour, size: 1 %>
	<%= form.label :start_minute, "Start Minute" %>
	<%= form.text_field :start_minute, size: 1 %>
	<%= form.select :start_period, ["am", "pm"], include_blank: true %>
	
	<%= form.label :end_hour, "End Hour" %>
	<%= form.text_field :end_hour, size: 1 %>
	<%= form.label :end_minute, "End Minute" %>
	<%= form.text_field :end_minute, size: 1 %>
	<%= form.select :end_period, ["am", "pm"], include_blank: true %>
	
	</div>
	</div>
	<br>
	
	<div class="field">
	<div class = "sub-section-edit-all">
	<%= form.submit "Add Time" %>
	</div>
	</div>

<% end %>