	<table>
  	<thead>
    	<tr>
      	<th>Section Number</th>
      	<th>Instructor</th>
      	<th>Instructor Email</th>
      	<th>Term</th>
      	<th>Location</th>
      	<th>Number of Graders Needed</th>
				<th>Schedule</th>
      	<th colspan="3"></th>
    	</tr>
  	</thead>

  	<tbody>
    	<% @sections.each do |section| %>
      <tr>
				<td><%= section.sectionNumber %></td>
        
      	<td>
          <%if section.instructor?-%>
            <%= section.instructor %>
          <%else-%>
            Unassigned
          <%end%>
        </td>
        <td>
        <%if section.instructorEmail?-%>
            <%= section.instructorEmail %>
        <%else-%>
            Unassigned or Unavailable
        <%end%>
        </td>
        <td><%= section.term %></td>
        <td>
        <%if section.buildingAndRoom?-%>
        	<%= section.buildingAndRoom %>
        <%else-%>
            	Unassigned
        <%end%>
				</td>
				<td> section.section_schedules
        </td>
        <td><%= section.numGradersNeeded %></td>
        <td><%= link_to 'Show', section %></td>
        
        <% if current_user.roles_name[0] == "admin"%>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to "Delete", section_path(section.id), method: :delete %></td>=
      	<% end %>
      	</tr>
      	
    	<% end %>
  	</tbody>
	</table>
